{{#if noid}}
<div class="container" id="carousel">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="/images/slide-image-2.jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Share Your Work</h5>
        <p>Think your work is great? We do too! Share it with the CreativeWorks community!</p>
        <br>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/images/slide-image-1.jpg" alt="Second slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Find your inspiration.</h5>
        <p>Join the CreativeWorks community, home to numerous hobbies and even more enthusiasts.</p>
        <br>
        <button class="btn btn-outline-light" id="signUpCarousel" style="box-shadow: none; text-shadow: none;">Join Today</button>
        <br><br>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/images/slide-image-3.jpg" alt="Third slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Explore New Interests</h5>
        <p>Check out work from other users and discover a new passion.</p>
        <br>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
<div class="container" id="belowCarousel">
  <center><h5>Some of the Communities Our Users Love</h5></center>
  <div class="row" id="bottCarHob">
  {{#each Hobby}}
  <div class="card" id="fpCards" style="width: 12rem;">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">{{this.name}}</h6>
  </div>
</div>
{{/each}}
</div>
</div>
{{/if}}